@font-face {
font-family:B de bonita;
src: url(../font/B-de-bonita.ttf);
}

@font-face {
font-family:Aero;
src: url(../font/Aero.ttf);
}

@font-face {
font-family:BabyDoll;
src: url(../font/BabyDoll.ttf);
}

@font-face {
font-family:Bloody;
src: url(../font/Bloody.ttf);
}

